.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.true {
  background-color: green;
}

.false {
  background-color: red;
}



.success {
  color: #3c763d;
  background-color: #dff0d8;
}
  
.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.a {
  margin: 20px
}

.b {
  margin-left:auto;
}



.c{
  color: #3c763d;
}